*.bsc
*.tlog
*.sbr
*.obj
*.exp
*.ipch
*.lastbuildstate
*.log
*.pdb
*.rc
*.user
*.manifest
*.opensdf
*.unsuccessfulbuild
*.suo
*.sdf
*.res
*.pch
*.ilk
*.cache
DBUtilsImplD.lib
DBUtilsImpl.lib
DBUtilsImplD.dll
DBUtilsImpl.dll
