*.bsc
*.tlog
*.sbr
*.obj
*.exp
*.ipch
*.lastbuildstate
*.log
*.pdb
*.rc
*.user
*.manifest
*.opensdf
*.unsuccessfulbuild
*.suo
*.sdf
*.res
*.pch
*.ilk
*.cache
*.db
*.vcxproj
*.filters
*.sln
DBUtilsImplD.lib
DBUtilsImpl.lib
DBUtilsImplD.dll
DBUtilsImpl.dll
/DBUtils/*.opendb
/DBUtils/.vs
/DBUtils/CMakeFiles
/DBUtils/CMakeCache.txt
/DBUtils/DBUtilsImpl.dir 
/DBUtils/cmake_install.cmake
